[Desktop Entry]
Name=zeb
Comment=Minimal spotlight browser
Exec=zeb
Icon=zeb
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=zeb
